


            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto w-p50">
                        <h3 class="page-title bl-0">فروشگاهی</h3>
                    </div>
                    <div class="right-title w-170">
					<span class="subheader_daterange font-weight-600" id="dashboard_daterangepicker">
						<span class="subheader_daterange-label">
							<span class="subheader_daterange-title"></span>
							<span class="subheader_daterange-date text-primary"></span>
						</span>
						<a href="#" class="btn btn-rounded btn-sm btn-primary">
							<i class="fa fa-angle-down"></i>
						</a>
					</span>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-12 col-xl-8">
                        <!-- AREA CHART -->
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">درامد</h4>

                                <ul class="box-controls pull-right">
                                    <li><a class="box-btn-close" href="#"></a></li>
                                    <li><a class="box-btn-slide" href="#"></a></li>
                                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                                </ul>
                            </div>
                            <div class="box-body chart-responsive">
                                <div class="chart">
                                    <div class="ct-chart-6 h-360"></div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">فهرست فاکتور</h4>
                            </div>
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="invoice-list" class="table table-hover no-wrap" data-page-size="10">
                                        <thead>
                                        <tr>
                                            <th>#فاکتور</th>
                                            <th>توضیحات</th>
                                            <th>مقدار</th>
                                            <th>وضعیت</th>
                                            <th>موضوع</th>
                                            <th>مشاهده</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>#5010</td>
                                            <td>لورم اپیزوم</td>
                                            <td>548 تومان</td>
                                            <td><span class="label label-danger">پرداخت نشده</span> </td>
                                            <td>15 ژان</td>
                                            <td>
                                                <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#5011</td>
                                            <td>لورم اپیزوم</td>
                                            <td>548 تومان</td>
                                            <td><span class="label label-success">پرداخت شده</span> </td>
                                            <td>15 ژان</td>
                                            <td>
                                                <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#5012</td>
                                            <td>لورم اپیزوم</td>
                                            <td>9548 تومان</td>
                                            <td><span class="label label-danger">پرداخت نشده</span> </td>
                                            <td>15-Jun</td>
                                            <td>
                                                <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#5013</td>
                                            <td>لورم اپیزوم</td>
                                            <td>4548 تومان</td>
                                            <td><span class="label label-success">پرداخت شده</span> </td>
                                            <td>15 ژان</td>
                                            <td>
                                                <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#5014</td>
                                            <td>لورم اپیزوم</td>
                                            <td>8548 تومان</td>
                                            <td><span class="label label-danger">پرداخت نشده</span> </td>
                                            <td>15 ژان</td>
                                            <td>
                                                <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#5015</td>
                                            <td>لورم اپیزوم</td>
                                            <td>$956</td>
                                            <td><span class="label label-danger">پرداخت نشده</span> </td>
                                            <td>15 ژان</td>
                                            <td>
                                                <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#5016</td>
                                            <td>لورم اپیزوم</td>
                                            <td>7548 تومان</td>
                                            <td><span class="label label-success">پرداخت شده</span> </td>
                                            <td>15 ژان</td>
                                            <td>
                                                <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#5010</td>
                                            <td>لورم اپیزوم</td>
                                            <td>548 تومان</td>
                                            <td><span class="label label-danger">پرداخت نشده</span> </td>
                                            <td>15 ژان</td>
                                            <td>
                                                <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#5011</td>
                                            <td>لورم اپیزوم</td>
                                            <td>548 تومان</td>
                                            <td><span class="label label-success">پرداخت شده</span> </td>
                                            <td>15 ژان</td>
                                            <td>
                                                <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#5012</td>
                                            <td>لورم اپیزوم</td>
                                            <td>9548 تومان</td>
                                            <td><span class="label label-danger">پرداخت نشده</span> </td>
                                            <td>15 ژان</td>
                                            <td>
                                                <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#5013</td>
                                            <td>لورم اپیزوم</td>
                                            <td>4548 تومان</td>
                                            <td><span class="label label-success">پرداخت شده</span> </td>
                                            <td>15 ژان</td>
                                            <td>
                                                <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /. box -->
                    </div>

                    <div class="col-12 col-xl-4">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">5 محصول برتر</h4>
                                <ul class="box-controls pull-right">
                                    <li><a class="box-btn-close" href="#"></a></li>
                                    <li><a class="box-btn-slide" href="#"></a></li>
                                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                                </ul>
                            </div>
                            <div class="box-body">
                                <div class="flexbox align-items-center">
                                    <div><div id="e_chart_3" class="w-200" style="height:275px;"></div></div>
                                    <div>
                                        <ul class="list-inline">
                                            <li class="mb-5">
                                                <span class="badge badge-dot badge-lg mr-1 badge-primary"></span>
                                                <span>آیفون ایکس</span>
                                            </li>

                                            <li class="mb-5">
                                                <span class="badge badge-dot badge-lg mr-1 badge-info"></span>
                                                <span>آیفون ایکس</span>
                                            </li>

                                            <li class="mb-5">
                                                <span class="badge badge-dot badge-lg mr-1 badge-success"></span>
                                                <span>آیفون ایکس</span>
                                            </li>

                                            <li class="mb-5">
                                                <span class="badge badge-dot badge-lg mr-1 badge-danger"></span>
                                                <span>آیفون ایکس</span>
                                            </li>

                                            <li class="mb-5">
                                                <span class="badge badge-dot badge-lg mr-1 badge-warning"></span>
                                                <span>آیفون ایکس</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                        <div class="box box-body">
                            <div class="flexbox">
                                <h6 class="text-uppercase">تجزیه و تحلیل</h6>
                                <h6><i class="ion-android-arrow-dropup text-success font-size-18 mr-1"></i> %20</h6>
                            </div>

                            <ul class="list-inline my-10">
                                <li class="px-10">
                                    <h6 class="mb-0 text-bold">8952</h6>
                                    <small>دبی</small>
                                </li>

                                <li class="br-1 bl-1 px-10">
                                    <h6 class="mb-0 text-bold">7458</h6>
                                    <small>دبی</small>
                                </li>

                                <li class="px-10">
                                    <h6 class="mb-0 text-bold">3254</h6>
                                    <small>دبی</small>
                                </li>
                            </ul>

                            <div id="linearea">1,3,5,4,6,8,7,9,7,8,10,16,14,10</div>
                        </div>

                        <div class="box">
                            <div class="box-body">
                                <div class="d-flex flex-row">
                                    <div class=""><img src="../images/avatar/1.jpg" alt="user" class="rounded-circle" width="100"></div>
                                    <div class="pl-20">
                                        <h3>آرش خادملو</h3>
                                        <h6>طراح وب</h6>
                                        <button class="btn btn-success"><i class="ti-plus"></i> فالو</button>
                                    </div>
                                </div>
                                <div class="row mt-40">
                                    <div class="col b-r text-center">
                                        <h2 class="font-light">1254</h2>
                                        <h6>عکس</h6></div>
                                    <div class="col b-r text-center">
                                        <h2 class="font-light">1254</h2>
                                        <h6>ویدئو</h6></div>
                                    <div class="col text-center">
                                        <h2 class="font-light">1587</h2>
                                        <h6>وظیفه</h6></div>
                                </div>
                            </div>
                            <div class="box-body">
                                <p class="text-center aboutscroll">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی.
                                </p>
                                <ul class="list-inline text-center">
                                    <li><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Website"><i class="fa fa-globe font-size-20"></i></a></li>
                                    <li><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="twitter"><i class="fa fa-twitter font-size-20"></i></a></li>
                                    <li><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Facebook"><i class="fa fa-facebook-square font-size-20"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="info-box bg-gradient-purple text-white">
                            <span class="info-box-icon rounded"><i class="ion ion-cash"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-number">51,642</span>
                                <span class="info-box-text">سفارش دریافت شد</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="box box-body bg-info">
                            <h5 class="mb-0">
                                <span class="text-uppercase">سفارش دریافت شد</span>
                                <span class="float-right"><a class="btn btn-rounded btn-white btn-outline" href="#">مشاهده</a></span>
                            </h5>
                            <br>
                            <small>سفارش امروز</small>
                            <p class="font-size-26">51,642</p>
                            <div id="progress1"></div>
                            <div class="font-size-12"><i class="ion-arrow-graph-up-right text-success mr-1"></i> %18 کاهش از ماه گذشته</div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="box box-body bg-danger">
                            <h5 class="mb-0">
                                <span class="text-uppercase">کاهش مالیات</span>
                                <span class="float-right"><a class="btn btn-rounded btn-white btn-outline" href="#">مشاهده</a></span>
                            </h5>
                            <br>
                            <small>تخفیف ماهانه</small>
                            <p class="font-size-26">5,354 تومان</p>
                            <div id="progress2"></div>
                            <div class="font-size-12"><i class="ion-arrow-graph-up-right text-success mr-1"></i> 324 بیش از سال گذشته</div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="box box-body bg-success">
                            <h5 class="mb-0">
                                <span class="text-uppercase">وضعیت درآمد</span>
                                <span class="float-right"><a class="btn btn-rounded btn-white btn-outline" href="#">مشاهده</a></span>
                            </h5>
                            <br>
                            <small>درآمد هفتگی</small>
                            <p class="font-size-26">5,354 تومان</p>
                            <div id="progress3"></div>
                            <div class="font-size-12"><i class="ion-arrow-graph-down-right text-danger mr-1"></i> %41 پایین سال گذشته</div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="box box-body bg-warning">
                            <h5 class="mb-0">
                                <span class="text-uppercase">فروش سالیانه</span>
                                <span class="float-right"><a class="btn btn-rounded btn-white btn-outline" href="#">مشاهده</a></span>
                            </h5>
                            <br>
                            <small>درآمد سالیانه</small>
                            <p class="font-size-26">15,354 تومان</p>
                            <div id="progress4"></div>
                            <div class="flexbox font-size-12">
                                <span><i class="ion-arrow-graph-down-right text-success mr-1"></i> %37 تا سال گذشته</span>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->

                    <div class="col-lg-6 col-12">
                        <!-- Advanced SMIL Animations -->
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">سفارش متوسط</h4>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    <div id="columnchart1"> </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>

                    <div class="col-lg-6 col-12">
                        <!-- SVG Path animation -->
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">سفارش فرآیندها</h4>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    <div id="linechart1"> </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>

                </div>
            </section>
            <!-- /.content -->



